#include <windows.h>
#include "fcalc.h"

FCALC ICON fcalc.ico

FCALC DIALOG 55, 45, 80, 118
CAPTION "Fuzzy Calculator"
CLASS "FCALC"
STYLE WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
BEGIN
	SCROLLBAR IDD_SCROLL, 3, 21, 74, 14
	CONTROL "", IDD_CLEAR, "BUTTON", BS_OWNERDRAW | WS_CHILD | WS_VISIBLE, 3, 37, 17, 14
	CONTROL "", IDD_BACKSPACE, "BUTTON", WS_CHILD | WS_VISIBLE | BS_OWNERDRAW, 22, 37, 36, 14
	CONTROL "", IDD_7, "BUTTON", WS_CHILD | WS_VISIBLE | BS_OWNERDRAW, 3, 53, 17, 14
	CONTROL "", IDD_8, "BUTTON", WS_CHILD | WS_VISIBLE | BS_OWNERDRAW, 22, 53, 17, 14
	CONTROL "", IDD_9, "BUTTON", WS_CHILD | WS_VISIBLE | BS_OWNERDRAW, 41, 53, 17, 14
	CONTROL "", IDD_4, "BUTTON", WS_CHILD | WS_VISIBLE | BS_OWNERDRAW, 3, 69, 17, 14
	CONTROL "", IDD_5, "BUTTON", WS_CHILD | WS_VISIBLE | BS_OWNERDRAW, 22, 69, 17, 14
	CONTROL "", IDD_6, "BUTTON", WS_CHILD | WS_VISIBLE | BS_OWNERDRAW, 41, 69, 17, 14
	CONTROL "", IDD_MINUS, "BUTTON", WS_CHILD | WS_VISIBLE | BS_OWNERDRAW, 60, 69, 17, 14
	CONTROL "", IDD_DEVIDE, "BUTTON", WS_CHILD | WS_VISIBLE | BS_OWNERDRAW, 60, 37, 17, 14
	CONTROL "", IDD_1, "BUTTON", WS_CHILD | WS_VISIBLE | BS_OWNERDRAW, 3, 85, 17, 14
	CONTROL "", IDD_2, "BUTTON", WS_CHILD | WS_VISIBLE | BS_OWNERDRAW, 22, 85, 17, 14
	CONTROL "", IDD_3, "BUTTON", WS_CHILD | WS_VISIBLE | BS_OWNERDRAW, 41, 85, 17, 14
	CONTROL "", IDD_SUM, "BUTTON", WS_CHILD | WS_VISIBLE | BS_OWNERDRAW, 60, 85, 17, 14
	CONTROL "", IDD_MULTIPLY, "BUTTON", WS_CHILD | WS_VISIBLE | BS_OWNERDRAW, 60, 53, 17, 14
	CONTROL "", IDD_0, "BUTTON", WS_CHILD | WS_VISIBLE | BS_OWNERDRAW, 3, 101, 17, 14
	CONTROL "", IDD_POINT, "BUTTON", WS_CHILD | WS_VISIBLE | BS_OWNERDRAW, 22, 101, 17, 14
	CONTROL "", IDD_EQUAL, "BUTTON", WS_CHILD | WS_VISIBLE | BS_OWNERDRAW, 41, 101, 36, 14
END

ABOUTDIALOG DIALOG 27, 20, 170, 97
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About Fuzzy Calculator..."
BEGIN
	EDITTEXT IDD_SPARAM, 47, 83, 20, 11, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
	ICON "FCALC", -1, 10, 20, 16, 21, WS_CHILD | WS_VISIBLE
	LTEXT "Fuzzy Calculator ", -1, 36, 3, 110, 9, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Version 1.0", -1, 36, 12, 71, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Copyright (c) 1992 by ", -1, 35, 21, 110, 9, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Savinov A., Lobyntsev Y.", -1, 35, 31, 110, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Institute of Mathematics", -1, 36, 41, 110, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	RTEXT "S-Parameter: ", -1, 2, 84, 45, 10, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP
	DEFPUSHBUTTON "OK", IDOK, 73, 82, 45, 13, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Cancel", IDCANCEL, 122, 82, 44, 13, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	LTEXT "E-mail: 23LSII@math.moldova.su", -1, 36, 62, 115, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "----------------------------------------------------------------------------------------", -1, 2, 71, 166, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Academiei 5, 277028 Kishinev, Moldavia", -1, 36, 52, 132, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
END

BRUSH BITMAP brush.bmp
OUT   BITMAP out.bmp

OUT0   BITMAP out_0.bmp
OUT1   BITMAP out_1.bmp
OUT2   BITMAP out_2.bmp
OUT3   BITMAP out_3.bmp
OUT4   BITMAP out_4.bmp
OUT5   BITMAP out_5.bmp
OUT6   BITMAP out_6.bmp
OUT7   BITMAP out_7.bmp
OUT8   BITMAP out_8.bmp
OUT9   BITMAP out_9.bmp
OUTE   BITMAP out_e.bmp
OUTM   BITMAP out_m.bmp
OUTP   BITMAP out_p.bmp

1200 BITMAP n_0.bmp
2200 BITMAP p_0.bmp
1201 BITMAP n_1.bmp
2201 BITMAP p_1.bmp
1202 BITMAP n_2.bmp
2202 BITMAP p_2.bmp
1203 BITMAP n_3.bmp
2203 BITMAP p_3.bmp
1204 BITMAP n_4.bmp
2204 BITMAP p_4.bmp
1205 BITMAP n_5.bmp
2205 BITMAP p_5.bmp
1206 BITMAP n_6.bmp
2206 BITMAP p_6.bmp
1207 BITMAP n_7.bmp
2207 BITMAP p_7.bmp
1208 BITMAP n_8.bmp
2208 BITMAP p_8.bmp
1209 BITMAP n_9.bmp
2209 BITMAP p_9.bmp
1210 BITMAP n_clear.bmp
2210 BITMAP p_clear.bmp
1211 BITMAP n_back.bmp
2211 BITMAP p_back.bmp
1213 BITMAP n_equ.bmp
2213 BITMAP p_equ.bmp
1214 BITMAP n_mul.bmp
2214 BITMAP p_mul.bmp
1215 BITMAP n_div.bmp
2215 BITMAP p_div.bmp
1216 BITMAP n_plus.bmp
2216 BITMAP p_plus.bmp
1217 BITMAP n_minus.bmp
2217 BITMAP p_minus.bmp
1218 BITMAP n_point.bmp
2218 BITMAP p_point.bmp
